@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#particles-js {
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(128, 4, 50, 1) 25%, rgba(150, 6, 42, 1) 50%, rgba(128, 4, 50, 1) 75%, rgba(0, 0, 0, 1) 100%);
}

#card {
    position: absolute;
    top: 40px;
    margin: 0 120px;
    background: rgb(0, 0, 0);
    opacity: 0.7;
    padding: 2em;
    border: #ccc 2px solid;
}

@media (max-width: 414px) {
    #card {
        position: absolute;
        top: 40px;
        margin: 0px;
        background: rgb(0, 0, 0);
        opacity: 0.7;
        padding: 2em;
        border: #ccc 2px solid;
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.back img {
    position: absolute;
    top: 40px;
    left: 30px;
    width: 30px;
    height: 40px;
}

h1,
p,
b {
    color: #fff;
}

.button {
    margin: 50px 0;
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
}

.button a {
    text-decoration: none;
    color: #fff;
}

.button:hover {
    background: rgba(100, 0, 0, 0.03);
}

.button__horizontal,
.button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
}

.button__horizontal::before,
.button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
}

.button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}

.button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}

.button:hover .button__horizontal {
    transform: scaleX(0);
}

.button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}

.button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
}

.button:hover .button__vertical {
    transform: scaleY(0);
}