        @font-face {
            font-family: 'fake';
            src: url('../fonts/FakeHope.ttf');
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'tecstasy';
            src: url('../fonts/full Pack 2025.ttf');
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'sports';
            src: url('../fonts/SF Sports Night.ttf');
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'bebas';
            src: url('../fonts/BebasNeue-Regular.ttf');
            font-weight: normal;
            font-style: normal;
        }
        
        html {
            font-size: 12px;
            font-family: 'Playfair Display', serif;
        }
        
        body {
            margin: 0;
            padding: 0;
            display: flex;
            --def: #020216;
            --inv: #fff;
            width: 100%;
            height: 100vh;
            overflow: hidden;
        }
        
        .overlay {
            background-color: rgba(0, 0, 0, 0.397);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
        }
        
        @media screen and (max-width: 600px) {
            .shift {
                margin-right: 55px;
            }
            nav {
                width: 80%;
                margin: 0 auto;
                padding: 50px 0px;
            }
            nav ul {
                list-style: none;
                text-align: center;
            }
            nav ul li {
                display: inline-block;
            }
            nav ul li a {
                display: block;
                padding: 15px;
                text-decoration: none;
                color: #aaa;
                font-weight: 800;
                text-transform: uppercase;
                margin: 0 10px;
                font-size: 28px;
                font-style: 'bebas';
            }
        }
        
        @media screen and (min-width: 601px) {
            nav {
                width: 80%;
                margin: 10px 0;
                padding: 25px 0;
            }
            nav ul {
                list-style: none;
            }
            nav ul li {
                display: inline-block;
            }
            nav ul li a {
                display: block;
                padding: 15px;
                text-decoration: none;
                color: #aaa;
                font-weight: 800;
                text-transform: uppercase;
                margin: 0 12px;
                font-size: 28px;
                font-family: 'bebas';
            }
        }
        
        nav ul li a,
        nav ul li a:after,
        nav ul li a:before {
            transition: all .5s;
        }
        
        nav ul li a:hover {
            color: #555;
        }
        
        .shift ul li a {
            position: relative;
            z-index: 1;
        }
        
        .shift ul li a:hover {
            color: #020216;
        }
        
        .shift ul li a:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '.';
            color: transparent;
            background: #fff;
            visibility: none;
            opacity: 0;
            z-index: -1;
        }
        
        .shift ul li a:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
        }
        
        .heading {
            text-align: center;
        }
        
        .heading p {
            margin-top: 10px;
            font-size: 1.7em;
            line-height: 0;
            color: #fff;
            font-family: 'bebas';
            letter-spacing: 1px;
        }
        
        .heading h2 {
            margin-top: 50px;
            font-size: 3.5vw;
            line-height: 0;
            color: #fff;
            font-family: 'tecstasy';
        }
        
        @media screen and (max-width: 599px) {
            .countdown {
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
            }
            .timer {
                margin: 5px 3px;
                width: 59px;
                background: rgba(255, 255, 255, 1);
                text-align: center;
                border-radius: 10px;
                box-shadow: 15px 10px 20px #6660;
                height: 80px;
            }
            .timer p {
                color: #000;
                font-size: 40px;
                margin: 10px 8px;
                font-family: fake;
            }
            .timer h6 {
                margin: 0;
                padding: 10px;
                font-size: 3.3vw;
                background: #96062a;
                color: #000;
                text-transform: uppercase;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                box-shadow: 15px 10px 20px #000;
                font-family: 'bebas';
                letter-spacing: 1.25px;
            }
        }
        
        @media screen and (min-width: 600px) {
            .countdown {
                margin-top: 50px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: center;
            }
            .timer {
                margin: 15px 30px;
                width: 120px;
                background: rgba(255, 255, 255, 1);
                text-align: center;
                border-radius: 10px;
                box-shadow: 15px 10px 20px #6660;
                height: 125px;
            }
            .timer p {
                color: #000;
                font-size: 45px;
                margin: 25px 8px;
                font-family: fake;
            }
            .timer h6 {
                margin: 0;
                padding: 10px;
                font-size: 1.4em;
                background: #96062a;
                color: #000;
                text-transform: uppercase;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                box-shadow: 15px 10px 20px #000;
                font-family: 'bebas';
                letter-spacing: 1.25px;
            }
        }
        
        .date {
            text-align: center;
        }
        
        .date h3 {
            margin-top: 80px;
            font-size: 2em;
            line-height: 0;
            color: #fff;
            font-family: 'bebas';
            letter-spacing: 1.5px;
        }
        
        .btn {
            position: absolute;
            padding: 1.4rem;
            color: var(--inv);
            text-transform: uppercase;
            transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
            cursor: pointer;
            user-select: none;
            left: 50%;
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 350px;
            text-align: center;
            margin-top: 30px;
        }
        
        .btn a {
            text-decoration: none;
            color: var(--inv);
            font-family: 'sports';
            font-size: 2.3em;
            letter-spacing: 0.25em;
        }
        
        .btn:before,
        .btn:after {
            content: '';
            position: absolute;
            transition: inherit;
            z-index: -1;
        }
        
        .btn a:hover {
            color: var(--def);
            transition-delay: .5s;
        }
        
        .btn:hover:before {
            transition-delay: 0s;
        }
        
        .btn a:hover:after {
            background: var(--inv);
        }
        
        .btn:hover:after {
            background: var(--inv);
            transition-delay: .35s;
        }
        /* From Left */
        
        .from-left:before,
        .from-left:after {
            top: 0;
            width: 0;
            height: 100%;
        }
        
        .from-left:before {
            right: 0;
            border: 1px solid var(--inv);
            border-left: 0;
            border-right: 0;
        }
        
        .from-left:after {
            left: 0;
        }
        
        .from-left:hover:before,
        .from-left:hover:after {
            width: 100%;
        }
        
        *,
        *:before,
        *:after {
            box-sizing: border-box;
        }
        
        @media screen and (min-height: 1024px) {
            .heading {
                margin-top: 90px;
            }
            .heading h2 {
                margin-top: 60px;
            }
            .countdown {
                margin-top: 60px;
            }
            .date {
                margin-top: 60px;
            }
            .btn {
                margin-top: 60px;
            }
        }
        
        @media screen and (min-height: 1080px) {
            .heading {
                margin-top: 90px;
            }
            .heading h2 {
                margin-top: 100px;
            }
            .countdown {
                margin-top: 100px;
            }
            .date {
                margin-top: 100px;
            }
            .btn {
                margin-top: 100px;
            }
        }
        
        @media screen and (min-height: 1300px) {
            .heading {
                margin-top: 120px;
            }
            .heading h2 {
                margin-top: 70px;
            }
            .countdown {
                margin-top: 150px;
            }
            .date {
                margin-top: 150px;
            }
            .btn {
                margin-top: 70px;
            }
        }